<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Secretz - Give Your Secretz a Place on the Web</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <script src="{{ url_for('static', filename='style.css') }}" defer></script>
  </head>
  <body id="body">
    <nav>
      <li><a href="/">Create Secret</a></li>
      <div id="seperater"></div>
      <li><a href="/view">View Secret</a></li>
    </nav>
    {% block form %} {% endblock form %}
  </body>
</html>
